.eventInfo {
	flex: 0 0 50%;
	min-width: 50%;
	max-width: 50%;
	min-height: 100vh;
	max-height: 100vh;
	padding: 20px;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 1px solid #ddd;
	overflow-y: auto;
}

.eventPrice {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	color: #007bff;
}

.eventType {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.eventImage {
	width: 100%;
	border-radius: 8px;
	margin-top: 10px;
}

.eventDetails {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	span {
		align-items: center;
		margin: 8px 0;
		font-family: "Roboto", sans-serif;
		line-height: 1.5;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
			"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
			"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	}
}

.icon {
	margin: 0 1rem;
}

@media (max-width: 768px) {
	.eventInfo {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
}
