.eventInfo {
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 8px;
	background-color: #f9f9f9;
	width: 100%;
	max-width: 600px;
	text-align: left;
	margin: 0;
}

.eventPrice {
	color: #007bff;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.eventImage {
	width: 100%;
	border-radius: 8px;
}

.eventDetails {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	span {
		align-items: center;
		margin: 8px 0;
		font-size: 16px;
	}
}

.icon {
	margin-left: 8px;
	font-size: 18px;
}

.eventType {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
