.login {
  display: flex;
  flex-direction: column;
  margin: 2vh auto;
  padding: 1.5rem;
  height: calc(100vh - 80px - 2rem);
  border-radius: 12px;
  width: max-content;
  align-items: center;
  justify-content: center;
  background: white;

  &_container {
    display: flex;
    width: 50vw;
  }
}