.event_info {
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;

		&_title {
			flex: 1;
			text-align: center !important;
		}

		&_buttons {
			display: flex;
			gap: 1rem;
		}
	}

	&__creator {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 6px 0;
	}
}
