.profile_view_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_view {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 2rem;

  & > * {
    margin: 0.5rem;
  }

  &__first_row {
    display: flex;

    & > * {
      margin: 0.5rem;
    }

    &_image {
      width: max-content;
    }

    &_info {
      display: block;
    }
  }
}