@use "styles/variables.scss" as *;

.header {
	position: fixed;
	top: 0;
	left: 300px;
	width: calc(100vw - 300px);
	height: 80px;
	background-color: #fff;
	display: flex;
	align-items: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	z-index: 999;
	overflow: hidden;
}

@media screen and (max-width: 820px) {
	.header {
		left: 80px;
		width: calc(100vw - 80px);
	}
}
