.event_page {
	display: flex;
	flex-direction: column;
	width: 100%;

	@media (min-width: 768px) {
		flex-direction: row;
	}

	&__info {
		flex: 1;
		margin-bottom: 16px;
	}

	&__map {
		flex: 1;
		height: 600px;

		@media (min-width: 768px) {
			height: auto;
		}
	}
}
