$scrollbar-width: 20px;

.event_page {
	display: flex;
	flex-direction: row;
	width: 100%;


	&__info {
		width: calc((100vw - 300px) / 2);
		min-height: calc(100vh - 80px - 2rem);
		padding: 1rem;
	}

	&__map {
		width: calc((100vw - 300px - 20px) / 2);
		height: calc(100vh - 80px - 2rem);
	}
}


@media (max-width: 850px) {
	.event_page {
		&__info {
			width: calc((100vw - 80px) / 2);
		}

		&__map {
			width: calc((100vw - 80px - 20px) / 2);
		}
	}
}

@media (max-width: 650px) {
	.event_page {
		flex-direction: column;

		&__info {
			width: calc(100vw - 80px - 1rem - $scrollbar-width);
		}

		&__map {
			width: calc(100vw - 80px - 1rem );
			height: 50vh;
		}
	}
}