@use "styles/variables.scss" as *;

body {
	margin: 0;
	padding: 0;
}

$scrollbar-width: 20px;

#content {
	margin-left: 300px;
	padding-top: 104px;
	position: absolute;
	width: calc(100vw - 280px - $scrollbar-width);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	@media screen and (max-width: 1024px) {
		margin-left: 230px;
		width: calc(100vw - 200px - $scrollbar-width);
	}

	@media screen and (max-width: 768px) {
		margin-left: 150px;
		width: calc(100vw - 100px - $scrollbar-width);
	}

	@media screen and (max-width: 650px) {
		margin-left: 90px;
		width: calc(100vw - 80px - $scrollbar-width);
	}

	@media screen and (max-width: 480px) {
		padding-top: 84px;
		margin-left: 90px;
		width: 75vw;
	}
}

.ant-btn,
.ant-menu {
	font-size: $size5;
	font-family: $font;
}

.ant-image-mask {
	border-radius: $border-radius;
}

.ant-btn {
	@media screen and (max-width: 480px) {
		font-size: $size4;
		padding: 8px 12px;
	}
}

.ant-menu {
	@media screen and (max-width: 768px) {
		font-size: $size4;
	}

	@media screen and (max-width: 480px) {
		font-size: $size3;
	}
}

.ant-menu-item {
	@media screen and (max-width: 768px) {
		font-size: $size4;
	}

	@media screen and (max-width: 480px) {
		font-size: $size5;
	}
}
