@use "styles/variables.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#content {
	margin-top: 80px;
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	height: calc(100vh - 80px);
	overflow-y: auto;
	overflow-x: hidden;
	background-color: white;
}

.ant-btn,
.ant-menu {
	font-size: $size5;
	font-family: $font;
}

.ant-menu {
	border-inline-end: none !important;
}
.ant-menu-inline-collapsed {
	width: 100% !important;
}

//.ant-image-mask {
//	border-radius: $border-radius;
//}

.ant-image {
	width: 100%;
	aspect-ratio: 16 / 9;
}

.slick-slide {
	height: auto;
	width: 100%;
	aspect-ratio: 16 / 9;
	overflow: hidden;
}

// description

.ant-descriptions-item-label::after {
	content: "" !important;
}

.ant-descriptions .ant-descriptions-view table {
	width: auto !important;
}

.ant-descriptions-item {
	padding-bottom: 0 !important;
}

// collapse

.ant-collapse-item {
	position: relative;
}

.ant-collapse-header {
	padding: 0 !important;
}

.ant-collapse-expand-icon {
	position: absolute;
	bottom: 15px;
	right: 5px;
	z-index: 999;
}

.ant-collapse-arrow {
	font-size: 20px !important;
}

// card
.ant-card-body {
	padding: 1rem !important;
}
