body {
  margin: 0;
  padding: 0;
}

#content {
  position: absolute;
  left: 256px;
  width: calc(100vw - 256px);
}

@media screen and (max-width: 650px) {
  #content {
    position: absolute;
    left: 80px;
    width: calc(100vw - 80px);
  }
}